@import '../params';
 .update_data {color: green; margin-bottom: 40px;}
 .update_data_fail {color: red; margin-bottom: 40px;}
.data-table {
  width: 80%;
  margin: 100px auto;
  h3 {font-size: 22px !important; font-weight: bold;}

  form {
    display: flex;
    flex-direction: column;
    margin: 60px 0;
    .btn-actions {
      button {min-width: 120px; margin-right: 23px;}
    }
    button {font-size: 16px; max-width: 80px;background: none; margin-top: 20px; border: 1px solid black; border-radius: 4px; padding: 4px; cursor: pointer;&:hover {background: black;color: white;}}
    label {
      font-size: 18px;
      margin-bottom: 13px;
      display: flex;
      align-items: flex-start;
      padding: 2px 4px;
      input, textarea {margin-left: 10px; font-size: 16px; min-width: 200px; padding: 2px 4px;}
      textarea {min-height: 100px; min-width: 300px;}
      @include full-hd {
        font-size: 16px;
        input, textarea {font-size: 15px;}
      }
    }
  }
  &-btn-logout {
    position: absolute;
    right: 50px;
    top: 30px;
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    @include mobile {
      right: 20px;
    }
    &:hover {
      background: black;
      color: white;
    }
  }

  th {
    font-size: 22px;
    @include full-hd {
      font-size: 18px;
    }
  }
  td {
    font-size: 18px;
    max-width: 550px;
    button {font-size: 14px; max-width: 90px;background: none; border: 1px solid black; border-radius: 4px; padding: 4px 8px; cursor: pointer;&:hover {background: black;color: white;}}
    @include full-hd {
      font-size: 16px;
      button {font-size: 12px;}
    }
  }
}

@include tablet {
  .data-table {
    width: 90%;
    th {
      font-size: 16px;
    }
    td {
      font-size: 12px;
      button{font-size: 10px;}
    }
  }
}