@import '../params';

.login {
    margin: 0 auto;
    max-width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 10px;
    @include mobile {
        max-width: 260px;
    }
    h2 {
      margin-bottom: 20px;
      margin-left: 35px;
      @include mobile {
        font-size: 30px !important;
      }
    }
    label {
      display: flex;
      gap: 15px;
      font-size: 28px;
      @include mobile {
          font-size: 22px;
        }
      input {
        font-size: 22px;
        border: 1px solid black;
        border-radius: 3px;
        padding-left: 3px;
        @include mobile {
          font-size: 18px;
        }
        &::placeholder {
          padding-left: 3px;
          font-size: 18px;
        }
      }
    }
    button {
      background: none;
      display: flex;
      align-self: end;
      margin-top: 10px;
      cursor: pointer;
      border: 1px solid black;
      padding: 3px 6px;
      border-radius: 3px;
      font-size: 22px;
      &:hover {
        background: black;
        color: white;
      }
    }
  &_error {
    font-size: 14px;
    color: red;
    top: 5px;
    position: relative;
    right: 0;
    width: 100%;
  }
}